@import "../vars.scss";

.intro-news{
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
  background: linear-gradient(128.29deg, #728EF8 -42.52%, #25278A 128.05%);
  padding: 50px 100px;
  .width-layer{
    display: flex;
    align-items: stretch;
    justify-content: center;
    //flex-direction: column;
    width: 100%;

    .img-preview{
      width: 50%;
      max-width: 50%;
      height: 100%;
      min-height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .dots{
        position: absolute;
        right: 20px;
        top: -20px;
        z-index: 0;
      }
      div{
        //filter: drop-shadow(0 5px 15px rgba(0,0,0,0.3));
        filter: drop-shadow(0px 4px 18px rgba(19, 77, 171, 0.94));
        width: 90%;
        height: 100%;
        z-index: 2;
        position: relative;
        min-height: 250px;
        background: no-repeat center center;
        background-size: contain;
      }
      .news-img-prev{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .25s;
      }
      .news-img-prev-active{
        opacity: 1;
      }

    }
    .intro-news-container{
      width: 50%;
      max-width: 50%;
      h2{
        line-height: 52px;
        font-size: 41px;
        //text-align: center;
        font-family: $Ubuntu-Medium;
        margin-top: 0;
        color: #FFFFFF;
      }
      .intro-article-news{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 40px;
        transition: .25s;
        cursor: pointer;
        .top{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 8px;
          .tag{
            padding: 6px 16px;
            font-family: $Ubuntu-Medium;
            background: #134DAB;
            border-radius: 5px;
            color: white;
            font-weight: 500;
            line-height: normal;
            font-size: 12px;
            letter-spacing: 0.5px;
          }
          .date{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
            margin-left: 12px;
          }
        }
        .title{
          line-height: 30px;
          font-size: 18px;
          color: #FFFFFF;
        }

        &:hover{
          transform: scale(1.01);
        }
      }
      .btn-all{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        padding: 18px 0;
        cursor: pointer;
        color: #134DAB;
        width: 200px;
        background: #FFFFFF;
        border-radius: 5px;
      }
    }
  }
}