@import "../vars.scss";

.start{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: #F6F7FC;
  padding: 50px 100px;
  .width-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    h2{
      font-family: $Ubuntu-Medium;
      line-height: 52px;
      font-size: 41px;
      text-align: center;
      color: #134DAB;
      margin-bottom: 32px;
    }
    p{
      margin-top: 0;
      font-weight: normal;
      line-height: 30px;
      font-size: 24px;
      text-align: center;
      color: #333333;
    }
    .container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .start-map{
        margin-top: 85px;
        margin-bottom: 15px;
        width: 81%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .number{

          width: 40px;
          position: relative;
          z-index: 2;
          height: 40px;
          border: 3px solid #134DAB;
          background: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          box-sizing: border-box;
          font-weight: 500;
          line-height: 30px;
          font-size: 22px;
          font-family: $Ubuntu-Medium;
          color: #134DAB;
          transition: .25s;
          cursor: default;
          &:last-child{
            width: 70px;
            height: 70px;
            background: #134DAB;
            i{
              color: white;
              margin-bottom: -6px;
            }
          }
          &:hover{
            transform: scale(1.2);
          }
        }
        &:before{
          content: '';
          z-index: 0;
          position: absolute;
          width: 95%;
          height: 3px;
          background: #134DAB;
          top: calc(50% - 1.5px);
          left: 10px;
        }
      }
      .start-info{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        .info{
          width: 24%;
          max-width: 25%;
          transition: .25s;
          h3{
            text-align: center;
            margin: 0;
            margin-bottom: 16px;
          }
          p{

            line-height: 26px;
            font-size: 16px;

            color: #7E8085;
          }
        }
      }
      .regestr{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        input{
          background: #FFFFFF;
          box-shadow: 0px 4px 18px rgba(19, 77, 171, 0.26);
          border-radius: 5px;
          padding: 16px 30px 16px 16px;
          box-sizing: border-box;
          border: 0px solid transparent;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          width: 300px;
          font-size: 16px;
          outline: 0;

          &::placeholder {
            font-size: 16px;
            color: rgba(0, 3, 128, 0.44);
          }
          &:active, &:focus {

          }
        }
        .btn-reg{
          background: #134DAB;
          border-radius: 5px;
          width: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
          box-sizing: border-box;
          color: white;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 18px;
          margin-left: -25px;
          cursor: pointer;
          transition: .25s;

          &:hover {

          }
        }
      }
    }
  }
}