@import url(../fonts/Ubuntu/Ubuntu-Bold/fonts.css);
@import url(../fonts/Ubuntu/Ubuntu-Light/fonts.css);
@import url(../fonts/Ubuntu/Ubuntu-Medium/fonts.css);
@import url(../fonts/Ubuntu/Ubuntu-Regular/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Black/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Bold/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Light/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Medium/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Regular/fonts.css);
@import url(../fonts/Ubuntu/Ubuntu-Bold/fonts.css);
@import url(../fonts/Ubuntu/Ubuntu-Light/fonts.css);
@import url(../fonts/Ubuntu/Ubuntu-Medium/fonts.css);
@import url(../fonts/Ubuntu/Ubuntu-Regular/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Black/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Bold/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Light/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Medium/fonts.css);
@import url(../fonts/Catamaran/Catamaran-Regular/fonts.css);
.news {
  background: #E5E5E5;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0px 100px;
  color: white;
  position: relative; }
  .news .photo-layer {
    position: absolute;
    width: 100%;
    height: 80vh;
    background: #112491 no-repeat center 0px;
    background-size: cover;
    z-index: 1;
    top: 0;
    left: 0; }
  .news .width-layer {
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh; }
    .news .width-layer .intro {
      min-height: calc(80vh - 150px);
      box-sizing: border-box;
      width: 100%;
      margin-top: 150px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between; }
      .news .width-layer .intro .left, .news .width-layer .intro .right {
        width: 47%; }
      .news .width-layer .intro .left h2 {
        font-weight: 500;
        line-height: 52px;
        font-size: 41px;
        font-family: "Ubuntu-Medium";
        color: #FFFFFF; }
      .news .width-layer .intro .left .box .checkboxes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; }
        .news .width-layer .intro .left .box .checkboxes .check {
          margin-bottom: 15px; }
          .news .width-layer .intro .left .box .checkboxes .check input {
            display: none; }
          .news .width-layer .intro .left .box .checkboxes .check label {
            cursor: pointer;
            position: relative;
            margin: auto;
            width: 18px;
            height: 18px;
            -webkit-tap-highlight-color: transparent;
            transform: translate3d(0, 0, 0); }
            .news .width-layer .intro .left .box .checkboxes .check label:before {
              content: "";
              position: absolute;
              top: -10px;
              left: -11px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: rgba(255, 255, 255, 0.08);
              opacity: 0;
              transition: opacity .2s ease; }
            .news .width-layer .intro .left .box .checkboxes .check label svg {
              margin-bottom: -4px;
              margin-right: 15px;
              position: relative;
              z-index: 1;
              fill: none;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke: #C8CCD4;
              stroke-width: 1.5;
              transform: translate3d(0, 0, 0);
              transition: all .2s ease; }
              .news .width-layer .intro .left .box .checkboxes .check label svg path {
                stroke-dasharray: 60;
                stroke-dashoffset: 0; }
              .news .width-layer .intro .left .box .checkboxes .check label svg polyline {
                stroke-dasharray: 22;
                stroke-dashoffset: 66; }
            .news .width-layer .intro .left .box .checkboxes .check label:hover:before {
              opacity: 1; }
            .news .width-layer .intro .left .box .checkboxes .check label:hover svg {
              stroke: #4285F4; }
          .news .width-layer .intro .left .box .checkboxes .check input:checked + label svg {
            stroke: #4285F4; }
          .news .width-layer .intro .left .box .checkboxes .check input:checked + label path {
            stroke-dashoffset: 60;
            transition: all .3s linear; }
          .news .width-layer .intro .left .box .checkboxes .check input:checked + label polyline {
            stroke-dashoffset: 42;
            transition: all .2s linear;
            transition-delay: .15s; }
      .news .width-layer .intro .left .box .search {
        flex: 90%;
        width: 90%;
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 40px;
        position: relative;
        margin-bottom: 40px; }
        .news .width-layer .intro .left .box .search input {
          background: transparent;
          padding: 10px 30px 10px 16px;
          box-sizing: border-box;
          border: 0px solid transparent;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          width: 100%;
          font-size: 16px;
          font-family: "Ubuntu-Regular";
          color: white;
          outline: 0;
          border-bottom: 2px solid rgba(255, 255, 255, 0.6); }
          .news .width-layer .intro .left .box .search input::placeholder {
            font-size: 16px;
            color: white;
            opacity: 0;
            transition: .25s; }
          .news .width-layer .intro .left .box .search input:active, .news .width-layer .intro .left .box .search input:focus {
            border-bottom: 2px solid white; }
            .news .width-layer .intro .left .box .search input:active::placeholder, .news .width-layer .intro .left .box .search input:focus::placeholder {
              font-size: 16px;
              color: white;
              opacity: 0.7; }
        .news .width-layer .intro .left .box .search label {
          position: absolute;
          transition: .25s;
          font-size: 16px;
          cursor: text;
          left: 15px;
          top: 10px;
          opacity: .8; }
        .news .width-layer .intro .left .box .search .label-active {
          left: 0px;
          top: -15px;
          cursor: pointer;
          font-size: 14px; }
      .news .width-layer .intro .right {
        position: relative; }
        .news .width-layer .intro .right .dots {
          position: absolute;
          right: 40%;
          top: 20px; }
        .news .width-layer .intro .right h1 {
          font-weight: 500;
          line-height: 52px;
          font-size: 41px;
          font-family: "Ubuntu-Medium";
          color: #FFFFFF; }
        .news .width-layer .intro .right .intro-news .intro-article-news {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-bottom: 40px;
          transition: .25s;
          cursor: pointer; }
          .news .width-layer .intro .right .intro-news .intro-article-news .top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 8px; }
            .news .width-layer .intro .right .intro-news .intro-article-news .top .tag {
              padding: 6px 16px;
              font-family: "Ubuntu-Medium";
              background: #134DAB;
              border-radius: 5px;
              color: white;
              font-weight: 500;
              line-height: normal;
              font-size: 12px;
              letter-spacing: 0.5px; }
            .news .width-layer .intro .right .intro-news .intro-article-news .top .date {
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 12px;
              letter-spacing: 0.5px;
              color: #FFFFFF;
              margin-left: 12px; }
          .news .width-layer .intro .right .intro-news .intro-article-news .title {
            line-height: 30px;
            font-size: 18px;
            color: #FFFFFF; }
          .news .width-layer .intro .right .intro-news .intro-article-news:hover {
            transform: scale(1.01); }
    .news .width-layer .container {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 50px 0; }
      .news .width-layer .container .article-news {
        max-width: 30%;
        flex: 30%;
        width: 30%;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 8px;
        margin-bottom: 35px;
        color: black;
        cursor: pointer;
        transition: .25s;
        overflow: hidden; }
        .news .width-layer .container .article-news .img {
          width: 100%;
          height: 300px;
          background: rgba(224, 224, 224, 0.6) no-repeat center 0;
          background-size: cover;
          transition: .55s;
          position: relative;
          z-index: 1; }
        .news .width-layer .container .article-news .content {
          box-sizing: border-box;
          padding: 25px 30px;
          transition: .25s;
          position: relative;
          z-index: 2;
          background: white; }
          .news .width-layer .container .article-news .content .top {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 8px;
            transition: .25s; }
            .news .width-layer .container .article-news .content .top .tag {
              padding: 6px 16px;
              font-family: "Ubuntu-Medium";
              background: #134DAB;
              border-radius: 5px;
              color: white;
              font-weight: 500;
              line-height: normal;
              font-size: 12px;
              letter-spacing: 0.5px;
              transition: .25s; }
            .news .width-layer .container .article-news .content .top .date {
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 12px;
              letter-spacing: 0.5px;
              color: #333333;
              margin-left: 12px;
              font-family: "Ubuntu-Light";
              transition: .25s; }
          .news .width-layer .container .article-news .content .title {
            font-weight: 500;
            line-height: 28px;
            font-size: 20px;
            color: #333333;
            font-family: "Ubuntu-Medium";
            margin-top: 25px;
            transition: .25s; }
          .news .width-layer .container .article-news .content p {
            font-style: normal;
            font-weight: normal;
            line-height: 24px;
            font-size: 16px;
            color: #999999;
            font-family: "Ubuntu-Regular";
            transition: .25s; }
        .news .width-layer .container .article-news:hover .img {
          transform: scale(1.15); }
