@import "../fonts/Ubuntu/Ubuntu-Bold/fonts.css"; // font-family: 'Ubuntu-Bold';
@import "../fonts/Ubuntu/Ubuntu-Light/fonts.css"; //  font-family: 'Ubuntu-Light';
@import "../fonts/Ubuntu/Ubuntu-Medium/fonts.css"; // font-family: 'Ubuntu-Medium';
@import "../fonts/Ubuntu/Ubuntu-Regular/fonts.css"; // font-family: 'Ubuntu-Regular';
@import "../fonts/Catamaran/Catamaran-Black/fonts.css"; // font-family: 'Catamaran-Black';
@import "../fonts/Catamaran/Catamaran-Bold/fonts.css"; // font-family: 'Catamaran-Bold';
@import "../fonts/Catamaran/Catamaran-Light/fonts.css"; // Catamaran-Light
@import "../fonts/Catamaran/Catamaran-Medium/fonts.css";// Catamaran-Medium
@import "../fonts/Catamaran/Catamaran-Regular/fonts.css";// Catamaran-Regular


$Ubuntu-Bold: 'Ubuntu-Bold';
$Ubuntu-Light: 'Ubuntu-Light';
$Ubuntu-Medium: 'Ubuntu-Medium';
$Ubuntu-Regular: 'Ubuntu-Regular';

$Catamaran-Black: 'Catamaran-Black';
$Catamaran-Bold: 'Catamaran-Bold';
$Catamaran-Light: 'Catamaran-Light';
$Catamaran-Medium: 'Catamaran-Medium';
$Catamaran-Regular: 'Catamaran-Regular';